<section class="about bg-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2 class="ml-4 mb-4">About me</h2>
      </div>
      <div class="col-md-8">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed diam nonumy eirmod tempor invidunt ut labore
          et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
          Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
          amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
          aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
        </p>
        <button class="btn btn-dark btn-outline-light mt-3">Download Resume</button>
      </div>
    </div>
  </div>
</section>