<footer class="footer bg-dark text-white py-4">
    <div class="container text-center">
      <h5>Get in Touch</h5>
      <p>Email: contact&#64;example.com</p>
      <a href="https://www.facebook.com" class="text-white me-3">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.github.com" class="text-white me-3">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com" class="text-white">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </footer>
  